.KillButton {
  background: #ff9393;
  border: solid 5px #5e5e5e;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: 'Oxygen', sans-serif;
  height: 90px;
  margin: 10rem auto 0 auto;
  text-align: center;
  width: 420px;

  /* CSS Positioning */
  grid-column: 2;
  grid-row: 3 / 4;
}

.KillButton h1 {
  color: #3b3b3b;
  margin: auto;
}
