.DroneStartComponent {
  border: solid 5px #5e5e5e;
  border-radius: 10px;
  height: 6rem;
  margin: 2rem;
  padding: 1rem;
  
  /* Centering text */
  display: flex;
  text-align: center;
  align-items: center;

  /* Darker text works better for colored backgrounds */
  color: #3b3b3b;
}

/* For some reason only this works for adjust the component width */
.DroneStartComponent h1 {
  width: 6rem;
}

/*
  Custom CSS color settings for each drone based on
  the react droneName prop
*/
#Raph {
  background-color: #ff8282;
}

#Leo {
  background-color: #82d1ff;
}

#Mickey {
  background-color: #ffad82;
}

#Donnie {
  background-color: #c682ff;
}

#props {
  background-color: #c682ff;
}