/* CSS for the numerical input component */
.InputComponent {
  background-color: #fdda24;
  border-top: solid 5px #5e5e5e;
  border-bottom: solid 5px #5e5e5e;
  border-left: none;
  border-right: none;
  height: 3.5rem;
  user-select: none;

  /* Flexbox properties */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

/* Override styles of the default input textbox styles */
.InputComponent input {
  border: none;
  background: #fdda24;
  color: #5e5e5e;
  font-size: 2rem;
  text-align: center;
  width: 60%;
}

.InputComponent button {
  background-color: #fdda24;
  border: none;
  color: #5e5e5e;
  height: 90%;
  font-size: 1.75rem;
  font-weight: bold;
  width: 100%;
}

/* Used to hide the number input controls for the form input */
input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
