.ModeSwitchComponent {
  border: solid 5px #5e5e5e;
  border-radius: 10px;
  margin: 10vh auto auto auto;
  height: 3rem;
  width: 420px;
  /* Custom font settings */
  font-size: 2rem;
  font-weight: bold;

  /* Flexbox settings */
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  /* Configure the position on the CSS grid */
  grid-column: 2;
  grid-row: 1;
}

.ModeSwitchComponent a {
  color: #5e5e5e;
  text-decoration-line: none;
}